body{
    font-family:'Poppins';
    background: linear-gradient(to bottom, #F5DAD2 30%, white 50%);
}

i.new-task-icon{
    display:inline-block;
    background-color : #75A47F;
    padding:10px;
    height:100%;
    border-radius:10px;
    color:#fff;
}
i:hover{
    cursor:pointer;
   
}
h1{
    font-family:'Handlee'
}

.footer{
    position:absolute;
    bottom:10px;
}

.hithere {
    animation: hithere 1s ease 5;
  }
  @keyframes hithere {
    30% { transform: scale(1.2); }
    40%, 60% { transform: rotate(-20deg) scale(1.2); }
    50% { transform: rotate(20deg) scale(1.2); }
    70% { transform: rotate(0deg) scale(1.2); }
    100% { transform: scale(1); }
  }