body{
    font-family:'Poppins';
    background: linear-gradient(to bottom, #F5DAD2 30%, white 50%);
}

i.new-task-icon{
    display:inline-block;
    background-color : #75A47F;
    padding:10px;
    height:100%;
    border-radius:10px;
    color:#fff;
}
i:hover{
    cursor:pointer;
   
}
h1{
    font-family:'Handlee'
}

.footer{
    position:absolute;
    bottom:10px;
}

.hithere {
    animation: hithere 1s ease 5;
  }
  @keyframes hithere {
    30% { transform: scale(1.2); }
    40%, 60% { transform: rotate(-20deg) scale(1.2); }
    50% { transform: rotate(20deg) scale(1.2); }
    70% { transform: rotate(0deg) scale(1.2); }
    100% { transform: scale(1); }
  }

   /* Custom Scrollbar Styles */
        /* For Webkit browsers */
        .scrollbar-custom::-webkit-scrollbar {
            width: 12px; /* Width of the scrollbar */
        }
        
        .scrollbar-custom::-webkit-scrollbar-track {
            background: #f1f1f1; /* Track color */
        }
        
        .scrollbar-custom::-webkit-scrollbar-thumb {
            background: #888; /* Thumb color */
            border-radius: 10px; /* Rounded corners */
        }
        
        .scrollbar-custom::-webkit-scrollbar-thumb:hover {
            background: #555; /* Thumb color on hover */
        }

        /* For Firefox */
        .scrollbar-custom {
            scrollbar-width: thin; /* "auto" or "thin" */
            scrollbar-color: #888 #f1f1f1; /* Thumb color and Track color */
        }